@*<h1>@ViewBag.userJson</h1>*@
<p>name : @ViewBag.name</p>
<p>given_name : @ViewBag.given_name</p>
<p>family_name : @ViewBag.family_name</h1>
<p>email : @ViewBag.email</p>
<p>picture : @ViewBag.picture</p>